/* .keyboard {
    border-style: groove;
    border-width: 2px;
    margin: 20px;
} */

* {
    text-align: center;
}

.key {
    border-style: ridge;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}